<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:hdp="http://www.springframework.org/schema/hadoop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                          http://www.springframework.org/schema/beans/spring-beans.xsd
                          http://www.springframework.org/schema/hadoop
                          http://www.springframework.org/schema/hadoop/spring-hadoop.xsd">

    <!-- 默认的hadoopConfiguration,默认ID为hadoopConfiguration，且对于hadoopFile等不需指定ref，自动注入hadoopConfiguration -->
    <hdp:configuration id="hadoopConfiguration" resources="classpath:/test/configurationFiles/testHadoop/hbase-site.xml"/>
    <hdp:hbase-configuration  configuration-ref="hadoopConfiguration"/>

    <!-- hadoop hdfs 操作类FileSystem,用来读写HDFS文件 -->
    <hdp:file-system id="hadoopFile" configuration-ref="hadoopConfiguration"/>

    <!-- 配置HbaseTemplate -->
    <bean id="hbaseTemplate" class="org.springframework.data.hadoop.hbase.HbaseTemplate">
        <property name="configuration" ref="hbaseConfiguration" />
        <property name="encoding" value="UTF-8"/>
    </bean>

</beans>