<component name="libraryTable">
  <library name="spring mvc-test">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/slf4j-api-1.7.25.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/objenesis-2.5.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/mockito-core-2.7.22.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/junit-4.12.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/json-smart-2.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/json-path-assert-2.4.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/json-path-2.4.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/hamcrest-library-1.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/hamcrest-core-1.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/byte-buddy-agent-1.6.11.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/byte-buddy-1.6.11.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/asm-5.0.4.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/accessors-smart-1.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>